.header {
    width: 100%;
    height: 113px;
    background-color: #1e293b;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.title-header {
    margin-left: 5%;
    margin-top: 2.4%;
}
.title-header > a { 
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.ul-header {
    margin-right: 0;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.li-header {
    color: #fff;
    text-decoration: none;
    margin-top: 7%;
}
.li-header > a {
    color: #fff;
    text-decoration: none;
}

.li-header.active {
    border-bottom: 3px solid #0ea5e9;
}

@media screen and (max-width: 768px) {
    .header {
        height: auto;
        min-height: 100px;
        padding: 15px 5px;
    }

    .nav-header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .title-header {
        margin: 0;
        text-align: center;
    }

    .title-header > a {
        font-size: 20px;
    }

    .ul-header {
        width: 95%;
        max-width: 100%;
        margin: 0;
        padding: 0 10px;
        justify-content: space-around;
    }

    .li-header {
        margin-top: 0;
        font-size: 1em;
        padding: 0 8px;
    }

    .li-header > a {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .title-header > a {
        font-size: 18px;
    }

    .ul-header {
        width: 100%;
        gap: 8px;
        padding: 0 5px;
    }

    .li-header {
        font-size: 0.95em;
        padding: 0 5px;
    }

    .li-header > a {
        font-size: 0.95em;
    }
}